# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [22]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

# Import API key
from api_keys import geoapify_key

In [11]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../JSON HW/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City_ID.3,City_ID.2,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,0,0,0,faya,18.3851,42.4509,22.06,35,21,2.60,SA,1666108228
1,1,1,1,1,farsund,58.0948,6.8047,13.30,100,0,7.65,NO,1666108228
2,2,2,2,2,new norfolk,-42.7826,147.0587,11.72,58,12,1.34,AU,1666108230
3,3,3,3,3,jamestown,42.0970,-79.2353,5.77,77,100,9.77,US,1666107934
4,4,4,4,4,lanzhou,36.0564,103.7922,14.53,48,59,1.20,CN,1666108230

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [13]:
max_temp = (city_data_df["Max Temp"] < 27) & (city_data_df["Max Temp"] > 21)
wind_speed = (city_data_df["Wind Speed"] < 4.5)
zero_cloudiness = (city_data_df["Cloudiness"] == 0)


ideal_weather = city_data_df.loc[(city_data_df["Max Temp"] < 27) & (city_data_df["Max Temp"] > 21) & (city_data_df["Wind Speed"] < 4.5) & (city_data_df["Cloudiness"] == 0)]
ideal_weather

,City_ID,City_ID.3,City_ID.2,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
45,45,45,45,45,kapaa,22.0752,-159.3190,22.99,84,0,3.60,US,1666108257
51,51,51,51,51,hilo,19.7297,-155.0900,26.27,83,0,2.57,US,1666108260
63,63,63,63,63,banda,25.4833,80.3333,24.62,52,0,2.68,IN,1666108268
81,81,81,81,81,makakilo city,21.3469,-158.0858,21.66,81,0,2.57,US,1666108282
152,152,152,152,152,kahului,20.8947,-156.4700,23.80,60,0,3.09,US,1666108246
197,197,197,197,197,gat,31.6100,34.7642,24.38,100,0,3.69,IL,1666108356
211,211,211,211,211,laguna,38.4210,-121.4238,21.67,79,0,2.06,US,1666108364
240,240,240,240,240,tikaitnagar,26.9500,81.5833,23.56,59,0,0.35,IN,1666108378
265,265,265,265,265,san quintin,30.4833,-115.9500,21.20,74,0,1.37,MX,1666108394
340,340,340,340,340,santa rosalia,27.3167,-112.2833,24.62,56,0,0.74,MX,1666108436
363,363,363,363,363,narwar,25.6500,77.9000,22.35,55,0,1.29,IN,1666108449
375,375,375,375,375,port hedland,-20.3167,118.5667,21.03,73,0,3.09,AU,1666108455
381,381,381,381,381,roebourne,-20.7833,117.1333,23.48,65,0,2.95,AU,1666108458
391,391,391,391,391,saint-francois,46.4154,3.9054,23.69,57,0,4.12,FR,1666108465
409,409,409,409,409,capoterra,39.1763,8.9718,24.84,71,0,3.60,IT,1666108477
421,421,421,421,421,stolac,43.0844,17.9575,24.88,68,0,0.80,BA,1666108483
516,516,516,516,516,guerrero negro,27.9769,-114.0611,23.17,68,0,0.89,MX,1666108537

### Step 3: Create a new DataFrame called `hotel_df`.

In [14]:
hotel_df = ideal_weather[["City", 
                          "Country",  
                          "Lat", 
                          "Lng",
                          "Humidity"]].copy()

hotel_df["Hotel Name"] = " "

hotel_df

               City Country      Lat       Lng  Humidity Hotel Name
45            kapaa      US  22.0752 -159.3190        84
51             hilo      US  19.7297 -155.0900        83
63            banda      IN  25.4833   80.3333        52
81    makakilo city      US  21.3469 -158.0858        81
152         kahului      US  20.8947 -156.4700        60
197             gat      IL  31.6100   34.7642       100
211          laguna      US  38.4210 -121.4238        79
240     tikaitnagar      IN  26.9500   81.5833        59
265     san quintin      MX  30.4833 -115.9500        74
340   santa rosalia      MX  27.3167 -112.2833        56
363          narwar      IN  25.6500   77.9000        55
375    port hedland      AU -20.3167  118.5667        73
381       roebourne      AU -20.7833  117.1333        65
391  saint-francois      FR  46.4154    3.9054        57
409       capoterra      IT  39.1763    8.9718        71
421          stolac      BA  43.0844   17.9575        68
516  guerrero negro      MX  27.9769 -114.0611        68

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [15]:
# Set parameters to search for a hotel
radius = 10000
params = {"limit":10, "categories": "accommodation.hotel", "apiKey": geoapify_key}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    lat = hotel_df.loc[index,'Lat']
    lng = hotel_df.loc[index,'Lng']
    
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{lng},{lat},{radius}"
    params["bias"] = f"proximity:{lng},{lat}"
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dict
    name_address = requests.get(base_url, params=params).json()
    
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

Starting hotel search
kapaa - nearest hotel: No hotel found
hilo - nearest hotel: No hotel found
banda - nearest hotel: No hotel found
makakilo city - nearest hotel: No hotel found
kahului - nearest hotel: No hotel found
gat - nearest hotel: No hotel found
laguna - nearest hotel: No hotel found
tikaitnagar - nearest hotel: No hotel found
san quintin - nearest hotel: No hotel found
santa rosalia - nearest hotel: No hotel found
narwar - nearest hotel: No hotel found
port hedland - nearest hotel: No hotel found
roebourne - nearest hotel: No hotel found
saint-francois - nearest hotel: No hotel found
capoterra - nearest hotel: No hotel found
stolac - nearest hotel: No hotel found
guerrero negro - nearest hotel: No hotel found

               City Country      Lat       Lng  Humidity      Hotel Name
45            kapaa      US  22.0752 -159.3190        84  No hotel found
51             hilo      US  19.7297 -155.0900        83  No hotel found
63            banda      IN  25.4833   80.3333        52  No hotel found
81    makakilo city      US  21.3469 -158.0858        81  No hotel found
152         kahului      US  20.8947 -156.4700        60  No hotel found
197             gat      IL  31.6100   34.7642       100  No hotel found
211          laguna      US  38.4210 -121.4238        79  No hotel found
240     tikaitnagar      IN  26.9500   81.5833        59  No hotel found
265     san quintin      MX  30.4833 -115.9500        74  No hotel found
340   santa rosalia      MX  27.3167 -112.2833        56  No hotel found
363          narwar      IN  25.6500   77.9000        55  No hotel found
375    port hedland      AU -20.3167  118.5667        73  No hotel found
381       roebourne      AU -20.7833  117.1333        65  No hotel found
391  saint-francois      FR  46.4154    3.9054        57  No hotel found
409       capoterra      IT  39.1763    8.9718        71  No hotel found
421          stolac      BA  43.0844   17.9575        68  No hotel found
516  guerrero negro      MX  27.9769 -114.0611        68  No hotel found

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.